.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid whitesmoke;
}

.header__icon {
  padding: 20px;
}

.header__logo {
  height: 60px;
  object-fit: contain;
}
